* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    margin: 10px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease-out;
}
.box:nth-child(2n) {
    transform: translateX(-400%);
}
.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 45px;
}